.post-form-container {
    max-width: 600px; 
    width: auto;
    margin: auto;
  }
  
  .input-field,
  .textarea-field {
    width: 600px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  .submit-button {
    padding: 10px;
    background-color: rgb(203, 85, 233);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .cancel-button {
    padding: 10px;
    background-color: rgb(243, 8, 8); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .submit-button:hover {
    background-color: #520570;
  }

  .cancel-button:hover {
    background-color: #520803; 
  }