.carousel-control-prev {
    margin-left: -120px; 
}

.carousel-control-next {
    margin-right: -120px; 
}

.container1 {
    background-color: rgb(26, 6, 36); 
    padding: 20px; 
    text-align: center; 
    border-radius: 10px; 
    width: 400px;
}

.category-header{
    color: white;

}

.container1 h1 {
    color: #FFFFFF;
}

.hero-section{
    height: 600px;
}


.btn1 {
    display: inline-block;
    background-color: rgb(146, 42, 181); 
    color: #FFFFFF; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
}


.btn1:hover {
    background-color: #f9f9f9; 

}

.search-bar {
    display: flex;
    margin-top: 10px; /* Adjust the margin as needed to move it higher */
    margin-bottom: 1000px; /* Adjust the margin as needed */
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 800px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
}

.search-results {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .search-results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .search-results li:last-child {
    border-bottom: none;
  }
  
  .search-results a {
    text-decoration: none;
    color: #333;
  }
  
  /* Style for result item */
  .result-item {
    display: flex;
    align-items: center;
  }
  
  .result-item img {
    width: 50px; /* Adjust the size as needed */
    margin-right: 10px;
  }
  
  .result-details {
    flex-grow: 1;
  }