.btnlogout{
  width: 300px;
  border-radius: 30px;
  margin-bottom: 110px;
}

html, body, #root {
  height: auto;
  margin: 0;
  padding: 0;
}

.profile-background {
  min-height: 100vh;
  max-height: auto;
  background-color: rgb(55, 1, 85);
}

.deleteButton{
  margin-left: 100px;
  background-color: rgb(203, 85, 233);
  color: black;
}
.deleteButton:hover {
   
  background-color: #800080; 
}

.profileGameImg{
  margin-bottom: 20px;
}