.btnlogout{
  width: 300px;
  border-radius: 30px;
  margin-bottom: 110px;
}

html, body, #root {
  height: auto;
  margin: 0;
  padding: 0;
}

.profile-background {
  min-height: 100vh;
  max-height: auto;
  background-color: rgb(55, 1, 85);
}