.thread-box{
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(80, 80, 80);
    padding: 10px;
    width: 1000px;
    border-radius: 2px;
    
}



.backgroundPost{
    justify-content: center;
    background-color:rgb(37, 6, 56);
    color: white;
    height: auto;
    width: auto;
    min-height: 150vh;

}

.submitComment{
    margin-top: 10px;
    width: 950px;
}

.comments-section{
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(80, 80, 80);
    padding: 10px;
    width: 1000px;
    border-radius: 2px;
    margin-bottom: 200px;
    width: 1000px;
    height: auto;
  
}

.comments-title{
    margin-bottom: 20px;
}

.comment-box p {
    margin: 0;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: pre-wrap; 
    
}
  
.comment-box {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 16px;
    overflow: hidden; 
}

.submit-comment-button {
    padding: 10px;
    background-color: rgb(203, 85, 233); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-comment-button:hover {
    background-color: #610f61; 
  }



