.search-box2{
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 400px;
    border-radius: 15px;

}

.input-search-box{
    border-radius: 15px;
    width: 300px;
}

.header-search-box
{
    border-radius: 15px;
}
