.review-card {
    border: 3px solid;
    border-color: white;
    background-color: rgb(48, 46, 52);
    color: white;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 25px;
    margin-top: 16px;
    max-width: 600px;
    width: auto;
    height: auto;
    overflow: hidden; /* Added to prevent text overflow */
    word-wrap: break-word; /* Added to allow long words to break and wrap */
  }
  
  .review-card h2 {
    color: rgb(199, 65, 233);
    margin-bottom: 8px;
  }
  
  .review-card a {
    color: lightblue;
    text-decoration: none;
    font-weight: bold;
  }

  