.page-container {
    display: flex;
    width: auto;
    justify-content: center;
    background: linear-gradient(to right, #e05591, #0f054c);
    color: white;
    height: auto;

}

.gameName{
    color: rgb(219, 111, 252);
    margin-bottom: 20px;
}

.game-container {
    width: 350px;
    height: auto;
    max-height: 100vh;
    border: 3px solid hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: auto;
    margin-top: 30px;
    background-color: rgb(48, 46, 52);
    border-radius:15px;
    margin-left: 100px;
    margin-bottom: 1300px;
    padding: 20px;

    
}

.no-reviews{
    color: #888; 
}

.numeric-rating {
    margin-left: 5px; 
    font-size: 14px; 
    color: #888; 
  }

p{
    color: white;
}

.game-info-container {
    width: 245px;
    height: auto;
    margin-top: 20px;
  

}

.info {
    border-bottom: 3px solid #333;
    height: 25px;
    width: 245px;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
 
}



.summary {
    max-width: 600px;
    height: auto;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: auto;
    margin-top: 30px;
    background-color: rgb(46, 46, 52);
    color: rgb(119, 119, 119);
    margin-top: 31px;
  
    border-radius:15px;
    padding: 20px;
    border: 3px solid #ffffff;
}

.right-content {
    margin-left: 100px;
    align-items: center; 
}

.btn3 {
    margin-top: 50px;
    align-items: center;
    width: 150px;
    padding: 10px;
    background-color: rgb(203, 85, 233); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 2px;
}

.btn3:hover {
   
    background-color: #610f61; 
}

.btnForum {
    margin-left: 70px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(203, 85, 233); 
    align-items: center;
    width: 150px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnForum:hover {
   
    background-color: #800080; 
}

.rating{
    margin-top: 50px;
    margin-bottom: 50px;
}

.completion{
    margin-top: 20px;
    margin-bottom: 50px;
}

.charts{
    margin-bottom: 20px;
}


.time-color {
    color: #888;
    font-size: 44px;
}



@media screen and (max-width: 768px) {
    .page-container {
        flex-direction: column; 
    }
    
    .game-container {
        width: 100%; 
        margin: 0; 
    }
    
    .right-content {
        margin-left: 0; 
        width: 100%; 
    }
    
    
}

