
.page-container {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color:rgb(55, 1, 85);
    color: white;
}

.game-container {
    width: 254px;
    height: 500px;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: auto;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);

    
}

p{
    color: white;
}

.game-info-container {
    width: 245px;
    height: 200px;
 
}

.info {
    border-bottom: 1px solid #333;
    height: 25px;
    width: 245px;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
 
}

.addButton {
    width: 252px;
    height: 40px;
    border: 2px solid #0074D9;
    background-color: #0074D9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.addButton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}


.summary {
    max-width: 600px;
    height: auto;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: auto;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 31px;
    margin-bottom: 100px;
}

.right-content {
    margin-left: 100px;
    align-items: center; 
}

@media screen and (max-width: 768px) {
    .page-container {
        flex-direction: column; 
    }
    
    .game-container {
        width: 100%; 
        margin: 0; 
    }
    
    .right-content {
        margin-left: 0; 
        width: 100%; 
    }
    
    
}

